# ==============================
# BDD website
# ==============================

WEBSITE_DB_HOST=''
WEBSITE_DB_PORT=''
WEBSITE_DB_NAME=''
WEBSITE_DB_USER=''
WEBSITE_DB_PASS=''

# ==============================
# BDD Minecraft
# ==============================

MC_DB_HOST=''
MC_DB_PORT=''
MC_DB_NAME=''
MC_DB_USER=''
MC_DB_PASS=''

# ==============================
# Paramètres
# ==============================

NO_SYNC='fondateur,admin,dev,builder'
